.colum-content {
    padding: 20px;
    padding-bottom: 60px;
}
.colum-content h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.hero-text .cta {
    font-size: var(--heroTextFontSize);
    line-height: var(--heroTextFontHeight);
    color: var(--heroTextFontColor);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.hover_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}
.block-holder:hover .hover_image {
    opacity: 1;
}
.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    height: 100%;
}
.block-holder:hover .video-wrapper {
    opacity: 1;
}

.logo-list.scrolling bullet-marquee .projectile :where(img,svg) {
    max-width: 120px;
}
.product-play-overlay {
    position: fixed;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.product-play-overlay.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.close-play {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 20px;
    cursor: pointer;
}
.logo-list.scrolling bullet-marquee {
    overflow: hidden;
}
.info-play-trigger-holder {
    position: relative;
}
.info-play-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.hero-double img {
    object-fit: contain;
    height: 100%;
}
.hero-double picture {
    height: 100%;
    background: white;
}
.hero-double video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}