.colum-content {
    padding: 20px;
    padding-bottom: 60px;
}
.colum-content h2 {
    font-size: 19px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.hero-text .cta {
    font-size: var(--heroTextFontSize);
    line-height: var(--heroTextFontHeight);
    color: var(--heroTextFontColor);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.hover_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}
.block-holder:hover .hover_image {
    opacity: 1;
}
.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    height: 100%;
}
.block-holder:hover .video-wrapper {
    opacity: 1;
}

.logo-list.scrolling bullet-marquee .projectile :where(img,svg) {
    max-width: 120px;
}
.product-play-overlay {
    position: fixed;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.product-play-overlay.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.close-play {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 20px;
    cursor: pointer;
}
.logo-list.scrolling bullet-marquee {
    overflow: hidden;
}
.info-play-trigger-holder {
    position: relative;
}
.info-play-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.hp-hero-double img {
    object-fit: contain;
    height: 100%;
}
.hp-hero-double picture {
    height: 100%;
    background: white;
}
.hp-hero-double video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reviews {
    width: 100%; /* Adjust width as needed */
    overflow: hidden; /* Hide overflow outside the wrapper */
}
.reviews .box {
    display: inline-flex; /* Align divs horizontally */
    animation: scroll-chiron 40s linear infinite; /* Duration can be adjusted */
}
.reviews:hover .box {
    animation-play-state: paused; /* Pause the scrolling when hovering */
  }
.reviews .box>x-cell {
    flex: 0 0 50%; /* Make each item 25% of the wrapper width */
}
@keyframes scroll-chiron {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}
a.no-style:hover {
    text-decoration: none;
}
.learn-more {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #000; /* Customize color */
    transition: color 0.3s ease;
    position: relative;
    z-index: 9999999999;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}

.learn-more .arrow {
    margin-left: 8px; /* Space between text and arrow */
    display: inline-block;
    transition: transform 0.3s ease;
}

  .learn-more:hover .arrow {
    transform: translateX(5px); /* Move arrow to the right */
  }

.hero-double a {
    position: relative;
}
.hero-double x-flex.contents {
    height: 10px;
}
.hero-double .block-holder {
    position: relative;
    overflow: hidden;
}
.swiper-container {
    position: relative;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: white;
    color: #000;
    border-radius: 50%;
    padding: 10px;
    z-index: 10;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: 1px solid black;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev {
    left: 10px;
  }
  .swiper-container {
    overflow: hidden;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 22px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 22px;
}